.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

h2{
  font-family: "BKoodakBold";
}

mat-expansion-panel {
  padding: 2%;
  mat-panel-title{
    font-family: "BKoodakBold";
    font-size: 18px;
  }
  a {
    button {
      text-align: right;
      width: 100%;
      font-family: "BKoodakBold";
    }
  }
}
