<mat-nav-list>

  <h2 matSubheader>صفحات</h2>

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          داشبورد
        </mat-panel-title>
      </mat-expansion-panel-header>

        <a href="/admin">
          <button mat-button>
            <mat-icon>add</mat-icon>
            درخواست ها
          </button>
        </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          آموزش
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/learn/post">
        <button mat-button>
          <mat-icon>add</mat-icon>
          اضافه کردن آموزش
        </button>
      </a>

      <a>
        <button mat-button>
          <mat-icon>add</mat-icon>
          لیست اموزش ها
        </button>
      </a>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          اخبار
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/news/post">
        <button mat-button>
          <mat-icon>add</mat-icon>
          اضافه کردن خبر
        </button>
      </a>

      <a>
        <button mat-button>
          <mat-icon>add</mat-icon>
          لیست خبر ها
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          تحلیل
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/analysis/post">
        <button mat-button>
          <mat-icon>add</mat-icon>
          اضافه کردن تحلیل
        </button>
      </a>

      <a>
        <button mat-button>
          <mat-icon>add</mat-icon>
          لیست تحلیل ها
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          پیام ها
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>
