<mat-nav-list >

  <h2 matSubheader style="font-family: 'BKoodakBold';font-size: 20px;" >صفحات</h2>

  <mat-accordion>
        <a href="/admin">
          <button mat-button class="dashboard">
            داشبورد
          </button>
        </a>
  </mat-accordion>

  <mat-accordion>
    <a href="/admin/users" *ngIf="isAdmin">
      <button mat-button class="dashboard">
        کاربران
      </button>
    </a>
  </mat-accordion>

  <mat-accordion *ngIf="isAdmin">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          آموزش
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/learn/post/film">
        <button mat-button>
          <mat-icon>play_circle_outline</mat-icon>
          اضافه کردن ویدئو
        </button>
      </a>

      <a href="/admin/learn/post/file">
        <button mat-button>
          <mat-icon>attach_file</mat-icon>
          اضافه کردن فایل
        </button>
      </a>

      <a href="/admin/learn/post/article">
        <button mat-button>
          <mat-icon>assignment</mat-icon>
          اضافه کردن مقاله
        </button>
      </a>

      <a href="/admin/learn/post/list">
        <button mat-button>
          <mat-icon>list</mat-icon>
          لیست اموزش ها
        </button>
      </a>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="isAdmin">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          اخبار
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/news/post/article">
        <button mat-button>
          <mat-icon>assignment</mat-icon>
          اضافه کردن خبر
        </button>
      </a>

      <a href="/admin/news/post/film">
        <button mat-button>
          <mat-icon>play_circle_outline</mat-icon>
          اضافه کردن ویدئو
        </button>
      </a>

      <a href="/admin/news/post/list">
        <button mat-button>
          <mat-icon>list</mat-icon>
          لیست خبر ها
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="isAdmin">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          تحلیل
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a href="/admin/analysis/post/free">
        <button mat-button>
          <mat-icon>money_off</mat-icon>
          اضافه کردن تحلیل رایگان
        </button>
      </a>

      <a href="/admin/analysis/post/monetary">
        <button mat-button>
          <mat-icon>attach_money</mat-icon>
          اضافه کردن تحلیل پولی
        </button>
      </a>

      <a  href="/admin/analysis/post/list">
        <button mat-button>
          <mat-icon>list</mat-icon>
          لیست تحلیل ها
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="isAdmin">
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          درخواست ها
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="!isAdmin">
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          سبد خرید
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a>
        <button mat-button>
          <mat-icon>assessment</mat-icon>
          تحلیل های من
        </button>
      </a>

      <a>
        <button mat-button>
          <mat-icon>play_circle_outline</mat-icon>
          ویدئو های من
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          گزارشات
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a>
        <button mat-button>
          <mat-icon>attach_money</mat-icon>
          گزارشات مالی
        </button>
      </a>

    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>
