<mat-toolbar color="primary" dir="rtl">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="status=='admin'" (click)="toggleSideBar()" style="margin-bottom: 1%;">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo">
        <a href="/"> LowRisk </a>
      </span>

      <div fxFlex fxLayout="row" fxLayoutAlign="start" *ngIf="status=='main'">
        <ul fxLayout="row" fxLayoutGap="5px">
          <li>
            <a href="/" style="color:white;text-decoration:none;">
              <button mat-button class="nav_items">
                <span>
                  صفحه اصلی
                </span>
              </button>
            </a>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu1" class="nav_items">
              <span>آموزش</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu1="matMenu">
              <a href="/learn/film" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  فیلم آموزشی
                </button>
              </a>
              <a href="/learn/article" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  مقاله آموزشی
                </button>
              </a>
            </mat-menu>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu2" class="nav_items">
              <span>تحلیل</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <a href="/analysis/short" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  کوتاه مدت
                </button>
              </a>
              <a href="/analysis/medium" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  میان مدت
                </button>
              </a>
              <a href="/analysis/long" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  بلند مدت
                </button>
              </a>
            </mat-menu>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu3" class="nav_items">
              <span>بازار بورس</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu3="matMenu">
              <a href="/marketmap" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  نقشه بازار
                </button>
              </a>
              <a href="/indexes" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  شاخص ها
                </button>
              </a>
              <a href="/stock" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  سهام
                </button>
              </a>
            </mat-menu>
          </li>
          <li>
            <a href="/news" style="color:white;text-decoration:none;">
              <button mat-button class="nav_items">
                <span>
                  اخبار
                </span>
              </button>
            </a>
          </li>
          <li>
            <a href="" style="color:white;text-decoration:none;">
              <button mat-button class="nav_items">
                <span>
                  درباره ما
                </span>
              </button>
            </a>
          </li>
          <li>
            <a href="/contact" style="color:white;text-decoration:none;">
              <button mat-button class="nav_items">
                <span>
                  ارتباط با ما
                </span>
              </button>
            </a>
          </li>
        </ul>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="10px">
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="{{userAvatar}}" *ngIf="userAvatar != null">
              <mat-icon *ngIf="userAvatar == null">person_outline</mat-icon>
              {{userName}}
              {{userFamily}}
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <a (click)="openDialog()">
                <button mat-menu-item *ngIf="!register">
                  <mat-icon>exit_to_app</mat-icon>
                  ورود
                </button>
              </a>
              <a href="/register" style="color:black;text-decoration:none;">
                  <button mat-menu-item *ngIf="!register">
                  <mat-icon>check</mat-icon>
                  عضویت
                </button>
              </a>
              <a href="/admin" style="color:black;text-decoration:none;">
                  <button mat-menu-item *ngIf="register && !isAdmin">
                  <mat-icon>account_box</mat-icon>
                  پنل کاربری
                </button>
              </a>
              <a style="color:black;text-decoration:none;">
                <button mat-menu-item *ngIf="isAdmin">
                <mat-icon>account_box</mat-icon>
                پروفایل
              </button>
            </a>
              <a style="color:black;text-decoration:none;" (click)="logout()">
                <button mat-menu-item *ngIf="register">
                <mat-icon>cancel</mat-icon>
                خروج
              </button>
            </a>
            </mat-menu>
          </li>
          <li class="nav_toggler" dir="ltr" *ngIf="status=='main'">
            <button mat-button [matMenuTriggerFor]="navItem">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #navItem="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="learn">
                <span>آموزش</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="analysis">
                <span>تحلیل</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="market">
                <span>بازار بورس</span>
              </button>
              <a href="/news" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  <span>
                    اخبار
                  </span>
                </button>
              </a>
              <a href="" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  <span>
                    درباره ما
                  </span>
                </button>
              </a>
              <a href="/contact" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  <span>
                    ارتباط با ما
                  </span>
                </button>
              </a>
            </mat-menu>

            <mat-menu #learn="matMenu">
              <a href="/learn/film" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  فیلم آموزشی
                </button>
              </a>
              <a href="/learn/article" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  مقاله آموزشی
                </button>
              </a>
            </mat-menu>

            <mat-menu #analysis="matMenu">
              <a href="/analysis/short" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  کوتاه مدت
                </button>
              </a>
              <a href="/analysis/medium" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  میان مدت
                </button>
              </a>
              <a href="/analysis/long" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  بلند مدت
                </button>
              </a>
            </mat-menu>

            <mat-menu #market="matMenu">
              <a href="/marketmap" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  نقشه بازار
                </button>
              </a>
              <a href="/indexes" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  شاخص ها
                </button>
              </a>
              <a href="/stock" style="color:black;text-decoration:none;">
                <button mat-menu-item>
                  سهام
                </button>
              </a>
            </mat-menu>

          </li>
        </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
