.mat-icon{
  font-family: 'Material Icons' !important;
}

ul li {
  list-style: none;
}

.mat-menu-item{
  height: 40px;
}

.userAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

span, button {
  font-family: "BKoodakBold";
  font-size: 17px;
}

.logo {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 2%;
}

.logo a {
  color: white;
  text-decoration: none;
}

.nav_toggler{
  display: none;
}

mat-toolbar-row{
  padding-top: 20px;
}

@media  (max-width:991px) {
  .nav_items {
    display: none;
  }
  .nav_toggler {
    display: block;
  }
}

@media screen and (max-width:576px){
  .logo {
    margin-bottom: 5%;
  }
}
