* {
  font-family: "BKoodakBold";
}

.mat-icon{
  font-family: 'Material Icons' !important;
}

h1 {
  text-align: right;
  font-family: "BKoodakBold";
}

a {
  cursor: pointer;
  text-decoration: none;
  button {
    margin-left: 3%;
  }

  .little_desc:hover {
    color: rgb(5, 128, 199);;
  }
}

button {
  font-size: 16px;
}
