h1 {
  text-align: center;
  width: 100%;
  font-family: "BKoodakBold";
  color: red;
}

h2,h3,h4,h5,h6,p {
  font-family: "BKoodakBold";
  text-align: right;
}

button {
  font-family: "BKoodakBold";
}

img {
  height: 200px;
}
