<router-outlet></router-outlet>

<div class="container" *ngIf="isDetail">
  <div class="row" dir="rtl">
    <div class="col-lg-9 content_box">
      <div>
        <mat-card class="main-news">
          <h1>عنوان ویدوئو</h1>
          <div class="sub_title">
            <p>تاریخ</p>
            <p>امتیاز</p>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quidem unde inventore soluta ab temporibus odit veniam, rerum dolorem voluptates dolores dolorum culpa magnam delectus vero ipsa officia necessitatibus molestias.
            </p>
          </mat-card-content>
          <div *ngIf="isFilm">
            <iframe [src]="getEmbedUrl()" frameborder="0" allowfullscreen></iframe>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-3 sub_menu">
      <div class="sticky-top" style="padding-top: 5%;">
        <div class="row">
          <div class="col-lg-12">
            <mat-card class="example-card">
              <mat-card-content>
                <span>
                  <img src="../../../assets/telegram.png" alt="">
                </span>
                <span>
                  <img src="../../../assets/whatsapp.png" alt="">
                </span>
                <span>
                  <img src="../../../assets/instagram.png" alt="">
                </span>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6 col-12" *ngIf="isFilm">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <a href="/learn/film/id" class="play_icon">
                <img src="../../../assets/play.png" alt="">
              </a>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6 col-12" *ngIf="isFilm">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <a href="/learn/film/id" class="play_icon">
                <img src="../../../assets/play.png" alt="">
              </a>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and
                </p>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-lg-12 col-md-6 col-sm-6 col-12" *ngIf="isArticle">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6 col-12" *ngIf="isArticle">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and
                </p>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
