<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <form>
        <div class="row">

          <div class="col-lg-3">
            <h3>عکس موضوع را انتخاب کنید</h3>
            <input type='file' name="image" (change)="readURL($event);" />
          </div>
          <div class="col-lg-9"></div><br>

          <div class="col-lg-4 image_pre" *ngIf="imageSrc != ''">
            <p style="text-align: right;">
              <img [src]="imageSrc" *ngIf="imageSrc != '' "/>
            </p>
          </div>
          <div class="col-lg-9"></div><br>

          <div class="col-lg-4">
            <h3>عنوان پست را انتخاب کنید</h3>
            <input type="text" name="title" [(ngModel)]="mainTitle">
          </div>
          <div class="col-lg-9"></div><br>

          <div class="col-lg-9">
            <h3>خلاصه ای از پست را وارد نمایید</h3>
            <textarea name="description" [(ngModel)]="mainDesc" cols="30" rows="5" style="width: 100%;"></textarea>
          </div>

        </div>
      </form>
    </div>

    <div class="col-lg-12" *ngIf="postType == 'article' || Type == 'analysis'">
      <h2>پست خود را ایجاد نمایید</h2>
      <div class="editor_box">
        <ckeditor
          [editor]="Editor"
          (change)="loadData()"
          (ready)="onReady($event)"
          [(ngModel)]="ckeditorContent"
          data="<p>Hello, world!</p>"></ckeditor>
      </div>
    </div>

    <div class="col-lg-3" *ngIf="postType == 'film'">
      <div class="video_input">
        <h3>ویدئو خود را انتخاب نمایید</h3>
        <input type='file' name="video" (change)="readFile($event, 'video');" />
      </div>
    </div>

    <div class="col-lg-3" *ngIf="postType == 'file'">
      <div class="video_input">
        <h3>فایل خود را انتخاب نمایید</h3>
        <input type='file' name="file" (change)="readFile($event, 'file');" />
      </div>
    </div>

    <div class="col-lg-12">
      <button mat-raised-button color="primary" (click)="send()">ذخیره اطلاعات</button>
    </div>
  </div>
</div>
