h1,h2,h3,h4,h5,h6,p {
  text-align: right;
  font-family: "BKoodakBold";
}

input[type="file"] {
  display: none;
}

.example-card {
  position: relative;
  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  h2 {
    margin-top: 5%;
  }

  .custom-file-upload {
    position: absolute;
    bottom: 0;
    left: 10px;
    border-radius: 50%;
    font-family: "BKoodakBold";
    background-color: rgb(68, 68, 211);
    color: white;
    padding: 8px 8px 0 8px;
    cursor: pointer;
  }
}

.profile-card {
  position: relative;
  width: 100%;
  .top_image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    img {
      position: absolute;
      right: 70px;
      top: 40px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-color: white;
    }

    .edit_button {
      font-family: "BKoodakBold";
      position: absolute;
      right: 300px;
      bottom: 10px;
    }


  }

  .user_content {
    margin-top: 5%;
    margin-right: 5%;
  }
}

.edit_form {
  margin-top: 10%;
  margin-right: 10%;
  .second {
    margin-right: 10%;
  }
  button {
    font-family: "BKoodakBold";
    margin-left: 5%;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  font-family: "BKoodakBold";
  margin-bottom: 10%;
}

@media screen and (max-width:820px) {

  .example-card {

    h2, p {
      margin-right: 5%;
    }
  }

  .edit_form {
    margin-right: 5%;
    .second {
      margin-right: 0;
    }
  }

  .example-full-width {
    width: 80%;
    margin-left: 10%;
    font-family: "BKoodakBold";
    margin-bottom: 10%;
  }

  .profile-card {

    .user_content {
      margin-top: 5%;
      margin-right: 5%;
    }
  }

}

@media screen and (max-width:576px) {

  .profile-card {

    .top_image {

      .edit_button {
        font-family: "BKoodakBold";
        position: absolute;
        right: 225px;
        bottom: -38px;
      }
    }

    .user_content {
      margin-top: 20%;
      margin-right: 5%;
    }

  }

  .example-card {

    h2 {
      margin-right: 40%;
      font-size: 16px;
    }

    p {
      margin-right: 40%;
      font-size: 15px;
    }

  }

}
