.container {
  margin-top: 5%;
  .row {
    margin-top: 5%;
    width: 100%;
  }
}

.mat-tab-label {
  font-family: "BKoodakBold";
  font-size: 20px;
}

mat-divider {
  margin: 5%;
  border: 1px solid rgb(212, 212, 212);
}
.title h1 {
  text-align: right;
  font-family: "BKoodakBold";
  font-size: 30px;
  a {
    float: left;
    font-size: 18px;
  }
}

.news_box{
  margin-bottom: 5%;
  a{
    text-decoration: none;
  }
  .example-card{
    .little_desc:hover {
      color: rgb(17, 158, 158);
    }
  }
}

.article_box{
  margin-bottom: 5%;
  a {
    text-decoration: none;
    text-align: right;
  }
  .example-card{

    margin-bottom: 5%;

    .little_desc:hover {
      color: rgb(17, 158, 158);
    }

    img {
      height: 150px;
    }
  }
}

// ===================================================================================
// pagination
// ===================================================================================

.pagination {
  display: inline-block;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  direction: ltr;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.pagination a.active {
  background-color: #3F51B5;
  color: #ffffff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.play_icon img:hover {
  width: 55px;
  height: 55px;
}

@media screen and (max-width:576px){
  .container .row {
    margin-top: 5%;
    width: 100%;
    margin-left: 1%;
  }
  .example-card {
    margin-bottom: 5%;
  }
}
