<router-outlet></router-outlet>

<div class="container" *ngIf="showMain">

  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 title">
      <h1>
        تحلیل کوتاه مدت
        <a href="/analysis/short">مشاهده بیشتر</a>
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of shortAnalysis">
      <a href="/analysis/short/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <mat-divider style="margin-top:5%"></mat-divider>

  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>
        تحلیل میان مدت
        <a href="/analysis/medium">مشاهده بیشتر</a>
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of mediumAnalysis">
      <a href="/analysis/medium/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <mat-divider style="margin-top:5%"></mat-divider>

  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>
        تحلیل بلند مدت
        <a href="/analysis/long">مشاهده بیشتر</a>
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of longAnalysis">
      <a href="/analysis/long/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>


<div class="container" *ngIf="showShort">
  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>تحلیل های کوتاه مدت</h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of mainShortAnalysis">
      <a href="/analysis/short/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="showMedium">
  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>تحلیل های میان مدت</h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of mainMediumAnalysis">
      <a href="/analysis/medium/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="showLong">
  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>تحلیل های بلند مدت</h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of mainLongAnalysis">
      <a href="/analysis/long/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>
