h1,h2,h3,h4,h5,h6{
  font-family: "BKoodakBold";
  text-align: right;
}

p,a {
  font-family: "BKoodakBold";
  text-align: right;
}

button {
  font-family: "BKoodakBold";
  border: none;
}

.buttons {
  text-align: center;
  button {
    font-family: "BKoodakBold";
    border: none;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  text-align: right;
  font-family: "BKoodakBold";
  margin: 5% 0 5% 0;
}

.return{
  margin-left: 35%;
}

.image_box {
  margin-top: 5%;
  width: 100%;
  height: 150px;
  background-color: rgb(216, 215, 215);
  border-radius: 5px;
  img {
    width: 100%;
    height: 150px;
  }
}

.menu_buttons {
  margin-top: 15%;
}

.edit_buttons {
  margin-top: 5%;
  .return {
    margin-left: 50%;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  margin-left: 75%;
  font-family: "BKoodakBold";
  background-color: rgb(68, 68, 211);
  color: white;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
}

@media screen and (max-width:820px) {
  .edit_buttons {
    .return {
      margin-left: 45%;
    }
  }
}

@media screen and (max-width:576px) {
  .return {
    margin-left: 15%;
  }

  .edit_buttons {
    .return {
      margin-left: 15%;
    }
  }

  .custom-file-upload {
    margin-left: 60%;
  }
}
