<mat-divider></mat-divider>

<footer>
  <div class="container">
    <div class="row" dir="rtl">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <h1>درباره سایت</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut pariatur unde soluta qui dolores obcaecati nesciunt facere earum culpa inventore ex, deleniti in? Maxime, corporis enim quasi delectus error a.</p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <h1>منوی سایت</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <ul>
              <li>
                <a href="/learn">آموزش</a>
              </li>
              <li>
                <a href="/analysis">تحلیل</a>
              </li>
              <li>
                <a href="/news">اخبار</a>
              </li>
              <li>
                <a href="/contact">ارتباط با ما</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <ul>
              <li>
                <a href="/marketmap">نقشه بازار</a>
              </li>
              <li>
                <a href="/indexes">شاخص ها</a>
              </li>
              <li>
                <a href="/stock">سهام</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <h1>از آخرین اخبار و اموزش ها باخبر شوید:</h1>
        <div class="form">
          <form>
            <div class="row">
              <div>
                <input type="email" class="form-control" placeholder="ایمیل خود را وارد نمایید">
              </div>
              <div>
                <button mat-raised-button color="primary">ارسال</button>
              </div>
            </div>
          </form>
        </div>
        <div class="social_icons">
          <h3>ما را در شبکه های اجتماعی دنبال کنید:</h3>
          <span>
            <a href="">
              <img src="../../../assets/telegram.png" alt="">
            </a>
          </span>
          <span>
            <a href="">
              <img src="../../../assets/whatsapp.png" alt="">
            </a>
          </span>
          <span>
            <a href="https://www.instagram.com/lowrisk98">
              <img src="../../../assets/instagram.png" alt="">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
