*{
  font-family: "BKoodakBold";
}

.error_message p {
  text-align: right;
  color: red;
  margin-right: 10%;
}

.mat-simple-snackbar {
  font-family: "BKoodakBold";
  font-size: 17px;
  display: inline-block !important;
}

.mat-snack-bar-container {
  text-align: center;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.register_box {
  margin-right: 22%;
  mat-toolbar {
    background-color: white;
    .span{
      margin: auto;
      font-size: 30px;
      font-weight: 600;
    }
  }

  mat-label {
    font-size: 17px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .example-full-width {
      width: 100%;
      margin-right: 10%;
      margin-top: 0;
    }

    .example-half-width {
      width: 100%;
      margin-right: 20%;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    .captcha_image{
      width: 100%;
      img {
        height: 60px;
        width: 80%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }

  button {
    margin-left: 25%;
    margin-top: 5%;
    width: 30%;
    font-size: 20px;
    padding: 1%;
  }
}


@media screen and (max-width:820px){
  .register_box{
    margin-right:0px;
    .example-form {
      .example-full-width {
        width: 80%;
        margin-bottom: 5%;
      }

      .example-half-width {
        width: 80%;
        margin-top: 2%;
      }

      .captcha_code {
        margin-right: 34%;
      }

      .captcha_image{
        img {
          height: 60px;
          width: 80%;
          margin-left: 10%;
        }
      }
    }

    button {
      margin-left: 35%;
    }
  }
}

@media screen and (max-width:576px) {
  .register_box{
    .example-form {
      width: 80%;
      .example-full-width {
        width: 100%;
      }

      .example-half-width {
        width: 100%;
        margin-right: 10%;
        margin-top: 0;
      }

      .captcha_code {
        margin-right: 20%;
      }

      .captcha_image{
        img {
          height: 50px;
          width: 80%;
          margin-right: 30%;
        }
      }
    }

    button {
      margin-left: 25%;
    }
  }
}
