<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <highcharts-chart
        class="pie_chart"
        [Highcharts]="Highcharts"
        [options]="pieOptions"
      ></highcharts-chart>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <highcharts-chart
        class="pie_chart"
        [Highcharts]="Highcharts"
        [options]="pieOptions"
      ></highcharts-chart>
    </div>
    <div class="col-lg-12">
      <highcharts-chart
        class="line_chart"
        [Highcharts]="Highcharts"
        [options]="lineOptions"
        ></highcharts-chart>
    </div>
  </div>
</div>
