.container {
  margin-top: 5%;
  .row {
    margin-top: 5%;
    width: 100%;
  }
}

.mat-tab-label {
  font-family: "BKoodakBold";
  font-size: 20px;
}

mat-divider {
  margin: 5%;
  border: 1px solid rgb(212, 212, 212);
}
.title h1 {
  text-align: right;
  font-family: "BKoodakBold";
  font-size: 30px;
  a {
    float: left;
    font-size: 18px;
  }
}

.video_box {
  .example-card {
    .play_icon img {
      position: absolute;
      left: 40%;
      top: 25%;
      width: 50px;
      height: 50px;
    }

    .play_icon img:hover {
      width: 55px;
      height: 55px;
    }
  }
}


.play_icon img {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 50px;
  height: 50px;
}

.play_icon img:hover {
  width: 55px;
  height: 55px;
}
