.container {
  margin-top: 5%;
  .row {
    margin-top: 5%;
    width: 100%;
  }
}

h1,h2,h3,h4,h5 {
  text-align: right;
  font-family: "BKoodakBold";
}

a,p {
  text-align: right;
  font-family: "BKoodakBold";
}

.mat-tab-label {
  font-family: "BKoodakBold";
  font-size: 20px;
}

mat-divider {
  margin: 5%;
  border: 1px solid rgb(212, 212, 212);
}
.title h1 {
  text-align: right;
  font-family: "BKoodakBold";
  font-size: 30px;
  a {
    float: left;
    font-size: 18px;
  }
}

.news_box{
  margin-bottom: 5%;

  .title {
    margin-bottom: 1%;
    h1 img {
      width: 40px;
      height: 40px;
    }
  }

  a{
    text-decoration: none;
  }
  .example-card{
    margin-bottom: 5%;
    .little_desc:hover {
      color: rgb(17, 158, 158);
    }
    img {
      height: 150px;
    }
  }
}

.article_box{
  margin-bottom: 5%;
  a {
    text-decoration: none;
  }
  .example-card{
    margin-bottom: 5%;
    mat-card-content {
      text-align: right;
    }
    .little_desc:hover {
      color: rgb(17, 158, 158);
    }

    img {
      height: 150px;
    }
  }
}

.video_box {
  margin-bottom: 5%;
  a{
    text-decoration: none;
  }
  .example-card {
    .play_icon img {
      position: absolute;
      left: 40%;
      top: 25%;
      width: 50px;
      height: 50px;
    }

    .play_icon img:hover {
      width: 55px;
      height: 55px;
    }

    mat-card-content {
      text-align: right;
    }

    .little_desc:hover {
      color: rgb(17, 158, 158);
    }

    img {
      height: 150px;
    }
  }
}


.play_icon img {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 50px;
  height: 50px;
}

.play_icon img:hover {
  width: 55px;
  height: 55px;
}

// ===================================================================================
// pagination
// ===================================================================================

.pagination {
  display: inline-block;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  direction: ltr;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.pagination a.active {
  background-color: #3F51B5;
  color: #ffffff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

// ====================================================================================
// mobile size
// ====================================================================================

@media screen and (max-width:576px){
  .container .row {
    margin-top: 5%;
    width: 100%;
    margin-left: 1%;
  }
  .example-card {
    margin-bottom: 5%;
  }

  .news_box{
    .example-card{
      img {
        height: 200px;
      }
    }
  }
}
