<router-outlet></router-outlet>

<div class="container" *ngIf="!isNews && !isArticle && !isFilm">
  <div class="row article_box" dir="rtl" *ngIf="isLearn">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 title">
      <h1>
        مقالات آموزشی
        <a href="/learn/article">مشاهده بیشتر</a>
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of learnArticle">
      <a href="/learn/article/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <mat-divider style="margin-top: 7%;"></mat-divider>

  <div class="row video_box" dir="rtl" *ngIf="isLearn">
    <div class="col-lg-12 title">
      <h1>
        فیلم های آموزشی
        <a href="/learn/film">مشاهده بیشتر</a>
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of learnFilm">
      <a href="/learn/film/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <a class="play_icon">
            <img src="../../../assets/play.png" alt="">
          </a>
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<div class="container" *ngIf="isArticle">
  <div class="row article_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>مقالات آموزشی</h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of learnArticleList">
      <a href="/learn/article/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isFilm">
  <div class="row video_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>عنوان مجموعه فیلم</h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of learnFilmList">
      <a href="/learn/film/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <a class="play_icon">
            <img src="../../../assets/play.png" alt="">
          </a>
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isNews">
  <div class="row news_box" dir="rtl">
    <div class="col-lg-12 title">
      <h1>
        <img src="../../../assets/news_icon.png" alt="">
        آخرین اخبار
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of newsData">
      <a href="/news/article/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image src="{{item.image}}" alt="{{item.title}}">
          <mat-card-content>
            <a class="little_desc">
              {{item.title}}
            </a>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="pagination">
        <a (click)="getData(pageNumber - 1)">&laquo;</a>

        <a *ngFor="let item of pageSize"
           [ngClass]="pageNumber == item ? 'active' : ''"
           (click)="getData(item)">{{item}}</a>

        <a (click)="getData(pageNumber + 1)">&raquo;</a>
      </div>
    </div>
  </div>
</div>
