<div class="container">
  <div class="row" dir="rtl">

    <!-- main news mat card  -->

    <div class="col-lg-8 col-md-12 col-sm-12 main_news">
      <h1>
        <img src="../../../assets/news_icon.png" alt="">
        اخبار
        <a href="/news">مشاهده بیشتر</a>
      </h1>
      <mat-card class="main-news" *ngFor="let item of mainNews">
        <a href="/news/{{item.id}}">
          <img src="{{item.image}}" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- stuck data mat table  -->

    <div class="col-lg-4 col-md-12 col-sm-12 data_table">
      <h1>
        <img src="../../../assets/chart_icon.png" alt="">
        بازارها
      </h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>

  <div class="row sub_news" dir="rtl">

    <div class="col-lg-12 col-md-12 col-sm-12 title">
      <h2>
        سایر اخبار
      </h2>
    </div>

    <!-- sub news mat card  -->

    <div class="col-lg-2 col-md-6 col-sm-6 col-12" *ngFor="let item of subNews">
      <a href="/news/{{item.id}}">
        <mat-card class="example-card">
          <img mat-card-image [src]="item.image != '' ? item.image : 'https://material.angular.io/assets/img/examples/shiba2.jpg'">
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

  </div>

  <br><br><br>
  <mat-divider></mat-divider>
  <br><br><br>

  <div class="row analysis" dir="rtl">

    <div class="col-lg-12 col-md-12 col-sm-12 title">
      <h1>
        <img src="../../../assets/analysis.png" alt="">
        تحلیل ها
        <a href="/analysis">مشاهده بیشتر</a>
      </h1>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <a href="/analysis/short/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <a href="/analysis/short/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <a href="/analysis/short/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <a href="/analysis/short/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

  </div>

  <br><br><br>
  <mat-divider></mat-divider>
  <br><br><br>

  <div class="row learn" dir="rtl">

    <!-- main videos mat card  -->

    <div class="col-lg-8 col-md-12 col-sm-12 main_video">

      <h1>
        <img src="../../../assets/learning_icon.png" alt="">
        آموزش
        <a href="/learn">مشاهده بیشتر</a>
      </h1>

      <mat-card class="main-news">
        <a href="/learn/article/id">
          <img src="../../../assets/461621_640.jpg" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- learn list mat list  -->

    <div class="col-lg-4 col-md-12 col-sm-12 learn_list">

      <h1>
        <img src="../../../assets/article_icon.png" alt="">
        مقلات آموزشی
      </h1>

      <mat-list role="list">
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            sdkjsjd
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Itdfgsd sdfg sddg sgsdfbem 2
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Item 3
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Item 3
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Item 3
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Item 3
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a href="/learn/article/id">
            Item 3
          </a>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

  <div class="row sub_news" dir="rtl">

    <div class="col-lg-12 col-md-12 col-sm-12 title">
      <h2>سایر آموزش ها</h2>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
      <a href="/learn/article/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
      <a href="/learn/article/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
      <a href="/learn/article/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
      <a href="/learn/article/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
      <a href="/learn/article/id">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

  </div>

  <br><br><br>
  <mat-divider></mat-divider>
  <br><br><br>

  <div class="row sub_video" dir="rtl">

    <div class="col-lg-12 col-md-12 col-sm-12 title">
      <h1>
        <img src="../../../assets/video_icon.png" alt="">
        ویدئوها
        <a href="/learn/film">مشاهده بیشتر</a>
      </h1>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <mat-card class="example-card">
        <img class="video_image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <a href="/learn/film/id" class="play_icon">
          <img src="../../../assets/play.png" alt="">
        </a>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <mat-card class="example-card">
        <img class="video_image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <a href="/learn/film/id" class="play_icon">
          <img src="../../../assets/play.png" alt="">
        </a>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <mat-card class="example-card">
        <img class="video_image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <a href="/learn/film/id" class="play_icon">
          <img src="../../../assets/play.png" alt="">
        </a>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <mat-card class="example-card">
        <img class="video_image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <a href="/learn/film/id" class="play_icon">
          <img src="../../../assets/play.png" alt="">
        </a>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

<br><br><br>

