h1,h2,h3,h4,h5 {
  text-align: right;
  font-family: "BKoodakBold";
}

a,p {
  font-family: "BKoodakBold";
}

h1{
  text-align: right;
  font-family: "BKoodakBold";
  font-size: 30px;
  img{
    width: 40px;
    height: 40px;
  }
}

a {
  font-family: "BKoodakBold";
}

h2 {
  text-align: right;
  font-family: "BKoodakBold";
  font-size: 25px;
}

.container {
  margin-top: 5%;
}

.review_icon {
  mat-icon {
    font-size: 16px;
    margin-left: -1%;
  }
}

.mat-icon{
  font-family: 'Material Icons' !important;
  font-size: 18px;
}

.with-icon {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "BKoodakBold";
  color: rgb(95, 94, 94);
}

// =============================================================================
// main news
// =============================================================================

.main_news{
  a {
    text-decoration: none;
  }
  h1 a {
    margin-right: 70%;
    font-size: 20px;
  }
  .main-news {
    width: 100%;
    p {
      font-family: "BKoodakBold";
      text-align: right;
      padding-top: 2%;
    }
  }
  .main-news img {
    width: 100%;
    height: 460px;
  }
}

// ===============================================================================
// table css
// ===============================================================================

.data_table {
  table {
    width: 100%;
    text-align: right;
  }
}

// =======================================================================
// sub news
// =======================================================================

.sub_news {
  margin-top: 5%;
  img{
    height: 100px;
  }
  a {
    text-decoration: none;
  }

  a:hover {
    mat-card-content p {
      color: rgb(5, 128, 199);
    }
  }

  p {
    font-family: "BKoodakBold";
    text-align: right;
  }

  p:hover {
    color: rgb(5, 128, 199);
  }
}

// ==================================================================================
// analysis
// ==================================================================================

.analysis{
  h1 a{
    margin-right: 77%;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }

  .example-card{
    margin-bottom: 5%;
    img {
      height: 150px;
    }

    p {
      font-family: "BKoodakBold";
      text-align: right;
    }
  }
}

// ============================================================================================
// Learn
// ============================================================================================

.learn {
  .main_video {
    h1 a {
      margin-right: 65%;
      font-size: 20px;
      text-decoration: none;
    }
    .main-news{
      max-width: 100%;
      p{
        font-family: "BKoodakBold";
        text-align: right;
        padding-top: 2%;
      }
    }

    .main-news img {
      width: 100%;
      height: 460px;
    }
  }
  .learn_list {
    mat-list {
      width: 100%;
      margin-left: 5%;
      box-shadow: 5px 10px 18px #b9b8b8;
      height: 530px;
      background-color: white;
      mat-list-item {
        height: 70px;
        a {
          text-decoration: none;
          color: black;
        }

        a:hover {
          color: rgb(5, 128, 199);
        }
      }
    }
  }
}

.video_image {
  position: relative;
}

// ==========================================================================================
// sub videos
// ==========================================================================================

.sub_video{
  a {
    text-decoration: none;
  }

  h1 a{
    margin-right: 77%;
    font-size: 20px;
  }

  p {
    font-family: "BKoodakBold";
    text-align: right;
  }

  p:hover {
    color: rgb(5, 128, 199);
  }
}

.play_icon {
  cursor: pointer;
  img{
    position: absolute;
    left: 40%;
    top: 25%;
    width: 50px;
    height: 50px;
  }
  img:hover {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width:820px) {

  .analysis{
    h1 a{
      margin-right: 50%;
    }

    .example-card{
      margin-bottom: 5%;
      img {
        height: 150px;
      }
    }
  }

  .sub_video{
    h1 a{
      margin-right: 50%;
    }
  }

  .main_news{
    h1 a {
      margin-right: 60%;
    }

    .main-news img {
      width: 100%;
      height: 250px;
    }
  }

  .learn {
    .main_video {
      h1 a {
        margin-right: 55%;
      }
      .main-news img {
        width: 100%;
        height: 250px;
      }
    }
  }

  .data_table {
    margin-top: 10%;
  }

  .sub_news {
    margin-top: 10%;
    img{
      height: 150px;
    }
    div{
      padding-bottom: 5%;
    }
  }

  .learn_list {
    margin-top: 10%;
  }

  .sub_video div{
    padding-bottom: 5%;
  }

  .review_icon {
    mat-icon {
      font-size: 16px;
      margin-left: -7%;
    }
  }
}

@media screen and (max-width:576px) {

  .analysis{
    h1 a{
      margin-right: 25%;
    }
    .example-card{
      margin-bottom: 5%;
      img {
        height: 200px;
      }
    }
  }

  .sub_video{
    h1 a{
      margin-right: 25%;
    }
  }

  .main_news{
    h1 a {
      margin-right: 40%;
    }
    .main-news img {
      width: 100%;
      height: 200px;
    }
  }

  .sub_news {
    margin-top: 10%;
    img{
      height: 200px;
    }
    div{
      padding-bottom: 5%;
    }
  }

  .learn {
    .main_video {
      h1 a {
        margin-right: 30%;
      }
      .main-news img {
        width: 100%;
        height: 200px;
      }
    }
  }

  .review_icon {
    mat-icon {
      font-size: 16px;
      margin-left: -15%;
    }
  }
}
